---
const year = new Date().getFullYear();
---

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="copyright-box">
          <div class="credits">
            &copy; {year} <b>Jonginn Yun</b>. Legacy visual system adapted from the original DevFolio-based site.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
